@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

$fadeIn: fadeIn 1s forwards;
$ease: cubic-bezier(0.23, 1, 0.32, 1);

%fadeIn {
  animation: fadeIn 1s forwards;
  animation-timing-function: $ease;
}
